#view {
  height: auto;
  padding: 20px;
  width: 400px;
}

.field {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  margin-bottom: 10px;
  padding: 6px 12px;
  width: 100%;
}

.btn {
  background-color: #e9ebee;
  border: 1px solid;
  border-color: #9b9b9b;
  border-radius: 2px;
  box-sizing: content-box;
  color: #626a77;
  font-size: 14px;
  height: 34px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 45px;
}

.btn:active {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}